app:
  upload:
    base-dir: uploads/
    images:
      dir: images/
      max-size: 5MB
      allowed-types: image/jpeg,image/png

spring:
  application:
    name: forum

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true

  flyway:
    user: root
    password: root
    default-schema: forum
    driver-class-name: org.mariadb.jdbc.Driver
    create-schemas: true
    enabled: false

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    enabled: true
    path: /api-docs
  show-actuator: true